.icons {
  width: 16px;
  height: 16px;
  transform: 0.5s scale(1.2);
}
.icons:hover {
  color: orange;
}

.logo:hover {
  transform: scale(1.25);
}

@media (min-width: 480px) and (max-width: 600px) {
  .icons {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 480px) {
  .icons {
    width: 10px;
    height: 10px;
  }
}
